.login {
    display: flex;
    flex-direction: row;
    /* margin: 100px; */
}

.loginContent {
    display: flex;
    justify-content: center;    
    width: 75%;
    margin: 100px;
    /* border: 2px solid red; */
    /* padding: 0 0 10px 0; */
}

.formLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
    background-color: #fff!important;
    padding: 10px;
    border-radius: 10px;
    width: 250px;
    /* box-shadow: 5px 5px 20px grey; */
}

.formLogin button {
    margin: 20px 0 20px 0;
}