.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cardItem {
    display: flex;
    flex-direction: column;
    border: 2px solid yellow;
    box-shadow: 5px 5px 10px grey;
    border-radius: 10px;
    height: 300px;
    width: 250px;
   
}

.cardProfilePicture {
    height: auto;
    width: 250px;
    border: 2px solid grey;
    justify-self: center;
    border-radius: 10px;
    background-color: whitesmoke;
    justify-items: center;
    overflow: hidden;
}

.cardProfilePicture img{
    height: auto;
    width: 250px;
    border-radius: 10px;
}

.cardDetail {
    display: contents;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
    text-align: center;
    margin: 5px 0 0 0;
}

.cardDetail h4, p, a {
    margin: 0px;
}

.cardDetail img {
    width: 50px;
}