.navbar {
    background-color: #fff!important;
    width: 200px;
    height: 200px;
    margin: 20px 20px -25px 20px;
    padding: 20px 0 20px 0;
    /* border-radius: 10px; */
    
    display: flex;
    flex-direction: column;

    align-items: left;
}

.navbar a:link {
    text-decoration: none;
    color: black;
}

.navbar a:visited {
    color: black;
}

.navbarContent {
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 40px;
}

.navbarLogo {
    margin: 10px 5px 0px 0px ;
    width: 15px;
    height: 15px;
}

.navbarLabel {
    font-weight: bolder;
}

.navbarLabel:hover {
    color: green;
}